body {
    background-color: gray;
}

#mainCanvas {
    border: 2px solid black;
}

#mainVideo {
    border: 2px solid black;
}

#wrapper {
    display: flex;
    flex-direction: column
}

#moreParticles {
    max-width: 200px;
}